*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: repeating-linear-gradient(to left,rgb(114, 114, 206),rgb(255, 255, 255));
}

#maindiv{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#head{
    text-align: center;
}

button{
    padding: 10px;
    border-radius: 25px;
    font-size: 30px;
    margin: 10px;
}

button:hover{
    cursor: pointer;
}

#cancel{
    float: right;
}